/.idea/
/data/*
/part_segmentation/segmentation_data/*
/part_segmentation/train_results/*
/exp_results/
/core.* 
*~*
/.nfs*
/__pycache__/
*DS_Store*
*.dropbox
*.xm
*.iml
*.xml
*.pyc
*hdf5_data*
*train_results*

